@if(userList && userList.length){
<div class="card">
  <p-table
    [value]="userList"
    [tableStyle]="{ 'min-width': '50rem' }"
    size="small"
    [paginator]="true"
    [rows]="20"
    [rowsPerPageOptions]="[20, 40, 60]"
    #dt2
    dataKey="id"
    [globalFilterFields]="['firstName', 'email', 'phoneNumber']"
  >
    <ng-template #caption>
      <div class="flex">
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input #globalFilterInput pInputText type="text" (input)="dt2.filterGlobal(globalFilterInput.value, 'contains')" placeholder="Search keyword" />
        </p-iconField>
      </div>
    </ng-template>

    <ng-template #header>
        <tr class="header_card">
          <th pSortableColumn="id">User Id <p-sortIcon field="id" /></th>
          <th pSortableColumn="firstName">Name <p-sortIcon field="firstName" /></th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Is Locked</th>
        </tr>
    </ng-template>
    <ng-template #body let-user>
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ getUserName(user.firstName, user.lastName) }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.isLockedOut ? "Yes" : "No" }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
}
