<div class="editFormContainer">
  <form [formGroup]="credentialForm" class="card flex justify-center" (ngSubmit)="onUpdateCredential()">
    <div class="form-content-container">
      <!-- Category Dropdown -->
      <div class="form-container">
        <p-select
          formControlName="categoryId"
          [options]="categoryList"
          optionLabel="name"
          optionValue="code"
          placeholder="Select a Category"
        >
        </p-select>
      </div>

      <!-- Website Name -->
      <div class="form-container">
        <p-floatlabel>
          <input
            type="text"
            pInputText
            id="websiteName"
            formControlName="websiteName"
          />
          <label for="websiteName">Website Name</label>
        </p-floatlabel>
      </div>

      <!-- Website URL -->
      <div class="form-container">
        <p-floatlabel>
          <input
            type="text"
            pInputText
            id="websiteUrl"
            formControlName="websiteUrl"
          />
          <label for="websiteUrl">Website URL</label>
        </p-floatlabel>
      </div>

      <!-- Notes -->
      <div class="form-container">
        <p-floatlabel>
          <input type="text" pInputText id="notes" formControlName="notes" />
          <label for="notes">Notes</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="button-content-container">
      <div class="button-container">
        <p-button
          label="Update"
          severity="success"
          (onClick)="onUpdateCredential()"
        >
        </p-button>
      </div>
      <div class="button-container">
        <p-button label="Cancel" severity="danger" (onClick)="onCancel()">
        </p-button>
      </div>
    </div>
  </form>
</div>
