.container {
  display: flex;
}

.tree-panel {
  width: 20%;
  padding: 1rem;
  border-right: 1px solid #ccc;
  margin-top: 1rem;
}

.content-panel {
  width: 80%;
  padding: 1rem;
  margin-top: 1rem
}

.category-button-container{
  list-style: none;
}

.category-button-list{
  cursor: pointer;
  border: 1px, solid, white;
  padding-left: 5%;
  background: linear-gradient(to right, #cceeff, #fde2e4);
  margin-bottom: 2%;
  border-radius: 5px;
}