<!-- <p>sign-in works!</p>

<form [formGroup]="signInForm">
  <label for="email">Email: </label>
  <input id="email" type="email" formControlName="email" />

  <label for="password">Password: </label>
  <input id="password" type="password" formControlName="password" />

  <button (click)="onSubmit()">Submit</button>
</form> -->
<div class="container">
  <form class="signin-form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <h2>Sign in</h2>
    
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" name="email" required />

    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" name="password" required />

    <a routerLink="/forgot-password" class="forgot-password">Forgot password?</a>

    <button type="submit">Sign In</button>
  </form>
</div>
