<div>
  <h2>Credential</h2>
</div>

<div class="card">
  <p-accordion [activeIndex]="activeIndex" (onOpen)="onPanelOpen($event)">
    @for (category of categoryList; track category.categoryId; let i = $index) {
    <p-accordion-panel [value]="category.categoryId">
      <p-accordion-header>{{ category.categoryName }}</p-accordion-header>
      <p-accordion-content>
        <div class="card">
          <p-table
            [value]="credentialList"
            [tableStyle]="{ 'min-width': '50rem' }"
          >
            <ng-template #header>
              <tr>
                <th>ID</th>
                <th>Website Name</th>
                <th>Website URL</th>
                <th>Password</th>
                <th>Category</th>
              </tr>
            </ng-template>
            <ng-template #body let-credential>
              <tr>
                <td>{{ credential.credentialId }}</td>
                <td>{{ credential.websiteName }}</td>
                <td>{{ credential.websiteUrl }}</td>
                <td>
                    **********
                    <span>
                        <p-button icon="pi pi-copy" (onClick)="op.toggle($event)"/>
                    </span>
                </td>
                <td>{{ credential.categoryId }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-accordion-content>
    </p-accordion-panel>
    }
  </p-accordion>
</div>

<p-popover #op>
    <div class="flex flex-col gap-4 w-[25rem]">
        <div>
            <span class="font-medium text-surface-900 dark:text-surface-0 block mb-2">Enter your password</span>
            <div>
                <p-password [(ngModel)]="enteredPassword" [feedback]="false" />
                <p-button icon="pi pi-check" (onClick)="onPasswordValidation()"/>
            </div>
        </div>
    </div>
</p-popover>

<!-- <div class="card">
    <p-table [value]="credentialList" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th>ID</th>
                <th>Website Name</th>
                <th>Website URL</th>
                <th>Password</th>
                <th>Category</th>
            </tr>
        </ng-template>
        <ng-template #body let-credential>
            <tr>
                <td>{{credential.credentialId}}</td>
                <td>{{credential.websiteName}}</td>
                <td>{{credential.websiteUrl}}</td>
                <td>{{credential.encryptedPassword}}</td>
                <td>{{credential.categoryId}}</td>
            </tr>
        </ng-template>
    </p-table>
</div> -->
